@media (max-width: 1024px) {
  .PostLoadedArea .post-card {
    flex: 0 0 calc(33.333% - 0.75rem);
  }
}

@media (max-width: 768px) {
  .PostLoadedArea .post-card {
    flex: 0 0 calc(50% - 0.75rem);
  }
}

@media (max-width: 760px) {
  body {
    margin-top: 6.5rem;
  }

  nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    align-items: flex-start;

    height: 6rem;

    .navRight {
      margin-left: .5rem;
      height: auto;
    }
  }
}

@media (max-width: 480px) {
  .PostLoadedArea .post-card {
    flex: 0 0 100%;
  }
}

@media screen and (min-width: 600px) {
  .ImageGrid {
    grid-template-columns: repeat(2, 1fr); // Two columns
  }

  .image-thumbnail {
    height: 220px;
  }

  .image-title,
  .image-meta {
    font-size: 0.9rem;
  }
}

// // Desktop
@media screen and (min-width: 900px) {
  .ImageGrid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .image-thumbnail {
    height: 250px;
  }

  .image-title,
  .image-meta {
    font-size: 1rem;
  }
}