nav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  align-items: center;

  z-index: 999;

  position: fixed;
  top: 0;

  @include blur-black;

  width: 100%;
  height: 3rem;

  border-bottom: .1rem solid var(--border-color);

  .navLeft {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    align-items: center;

    margin-left: .5rem;

    h3 {
      span {
        font-size: .75rem;
      }
    }
  }

  .navRight {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    align-items: center;

    margin-right: .5rem;
    width: auto;
    height: 100%;

    .videoPostForm {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      -webkit-align-content: stretch;
      align-content: stretch;
      -webkit-align-items: center;
      align-items: center;

      gap: .5rem;

      button {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-content: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        align-items: center;

        border-radius: .25rem;

        padding: 0rem 1rem;
        height: 2.5rem;

        p {
          margin-left: .5rem;
        }

        ion-icon {
          font-size: 1.5rem;
        }
      }
    }

    .videoNav {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-content: stretch;
      align-content: stretch;
      -webkit-align-items: center;
      align-items: center;

      width: 100%;
      height: 100%;

      gap: .5rem;

      button {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-content: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        align-items: center;

        border-radius: .25rem;

        padding: 0rem 1rem;
        height: 2.5rem;

        ion-icon {
          font-size: 1.5rem;
        }
      }
    }
  }
}